/* bureau*/
.bureau {
  width: 100%;
  padding: 120px 0 90px 0;
}
.bureau__video-box {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius:4px;
}
.bureau__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:rgba($title-color,0.6);
  z-index: 3;
  pointer-events: none;
}
.bureau__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}
.bureau__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &:hover{
    background-color: rgba($white,1);
    transition: all .3s; 
  }
  &:hover .bureau__play-svg {
    fill:$orange;
    transition: all .3s; 
  }
  &:hover .bureau__pause-svg {
    fill: $orange;
    transition: all .3s; 
  }
}

.bureau__play-svg {
  width: 19px;
  height: 22px;
  display: block;
  fill:$white;
}
.bureau__pause-svg{
  display: none;
  width: 60px;
  height: 60px;
  fill:$white;
}
.bureau__mute-button {
  position: absolute;
  left:32px;
  bottom:32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba($white,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all .3s;
  &:hover{
    background-color: rgba($white,1);
    transition: all .3s; 
  }
  &:hover .bureau__mute-svg{
    fill: $title-color;
    transition: all .3s; 
  }
}
.bureau__mute-svg {
  width: 20px;
  height: 20px;
  transition: all .3s;
  fill:$white;
}

/* bureau media*/
@media(max-width:768px){
  .bureau {
    padding: 80px 0 80px 0;
    .section-title {
      max-width: 575px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  .bureau__video-box {
    height: 400px;
  }
  .bureau__play-button {
    width: 70px;
    height: 70px;
  }
  
}
@media(max-width:600px){
  .bureau__video-box {
    height: 350px;
  }
  .bureau__play-button {
    width: 60px;
    height: 60px;
  }
}
@media(max-width:450px){
  .bureau {
    padding: 60px 0 60px 0;
    .section-title {
      margin-bottom: 10px;
    }
  }
  .bureau__video-box {
    height: 300px;
  }
  .bureau__play-button {
    width: 50px;
    height: 50px;
  }
}