/* figures*/
.figures {
  position: relative;
  width: 100%;
  padding: 143px 0 90px 0;
  background-color: $white;
  overflow: hidden;
  &::before{
    content:'';
    position: absolute;
    top: -235px;
    left: -200px;
    width: 570px;
    height: 1065px;
    background-image: url('../img/figures-bg.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-title {
    margin-bottom: 60px;
  }
}
.figures__items {
  margin: 0 auto;
  width: 100%;
  max-width: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start
}
.figures__item {

}
.figures__item +.figures__item {
  margin-left: 48px;
}
.figures__item-top-box {
  position: relative;
  width: 148px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  // border:1px solid #000;
}
.figures__svg-box {
  position: absolute;
  left: 0;
  top: 0;
}
.figures__svg{
// transform-origin: center;
// transform: rotate(-90deg);

}
.clients-semi-circle{
  transform-origin: center;
  transform: rotate(-90deg);
  stroke:#F89828;
  stroke-width: 6;
  stroke-linecap: round;
 
  
}
.semi-circle{
transition: all .5s;
}
.experience-semi-circle{
  transform-origin: center;
  transform: rotate(-90deg);
  stroke:#F52F6E;
  stroke-width: 6;
  stroke-linecap: round;
}
.hours-semi-circle{
  transform-origin: center;
  transform: rotate(-90deg);
  stroke:#5A87FC;
  stroke-width: 6;
  stroke-linecap: round; 
}
.projects-semi-circle{
  transform-origin: center;
  transform: rotate(-90deg);
  stroke:#03CEA4;
  stroke-width: 6;
  stroke-linecap: round; 
}
.figures__text-box {
}
.figures__numbers,
.figures__persent {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color:$title-color;
}
.figures__bottom-box {
  text-align: center;
}
.figures__descr {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color:$title-color;
  
}
/* figures media */
@media(max-width:768px){
  .figures {
    padding: 90px 0 90px 0;
  }
  .figures__items {
    justify-content: space-between;
    max-width: 400px;
  }
  .figures__item:nth-child(3) {
    margin-left: 0;
  }
  .figures__item:nth-child(1),
  .figures__item:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media(max-width:450px){
  .figures {
    padding: 20px 0 0 0;
  }
  .figures__items {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  .figures__item:nth-child(2),
  .figures__item:nth-child(4) {
    margin-left: 0;
  }
  .figures__item:nth-child(1),
  .figures__item:nth-child(2),
  .figures__item:nth-child(3) {
    margin-bottom: 10px;
  }
  
}