
.find {
  width: 100%;
  padding: 60px 0 120px 0;
  background-color: $input-bg;
  .section-title {
    margin-bottom: 40px;
  }
}
.find__social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.find__social-link {
  transition: all .3s;
  &:hover .find__social-svg{
    transition: all .3s;
    fill:$orange;
  }
}
.find__social-link + .find__social-link {
  margin-left: 24px;
 
}
.find__social-svg {
  width: 32px;
  height: 32px;
  fill:$color-text;
}
@media (max-width:767px) {
  .find {
    padding: 30px 0 60px 0;
   }
 }
@media (max-width:450px) {
  .find__social-svg {
    width: 24px;
    height: 24px;
  }
}