/* hero */
.hero {
  width: 100%;
  padding: 149px 0 80px 0;
  background-color: $input-bg;
  min-height: 600px;
 
}

.hero__inner {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.breadcrumbs {
  margin-bottom: 40px;

  span {
    margin: 0 5px;
  }
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
  transition: all .3s;

  &[href]:hover {
    color: $orange;
    transition: all .3s;
  }

  &--active {
    color: $placeholder;
  }
}

/* services-hero */
.services-hero {
  background-image: url('../img/services-hero-bg.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* design-hero */
.design-hero {
  background-image: url('../img/design-hero-bg.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* work-hero */
.work-hero {
  background-image: url('../img/work-hero-bg.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* work-1-hero */
.work-1-hero {
  background-color: $white;
  background-image: url('../img/work-1-hero-bg.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  .hero__inner {
    width: 100%;
    max-width: 700px;
  }
  .hero-title{
    font-size: 64px;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
}

/* about-hero */
.about-hero {
  background-image: url('../img/about-hero-bg.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* positions-hero */
.positions-hero {
  background-image: url('../img/positions-hero-bg.png');
  background-position: right bottom ;
  background-size:auto;
  background-repeat: no-repeat;
}

/* news-hero */
.news-hero {
  background-image: url('../img/news-hero-bg.png');
  background-position: right bottom ;
  background-size:auto;
  background-repeat: no-repeat;
}

/*  article-hero */
.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.article-hero{
  background-color: $input-bg;
  .hero__inner {
    width: 100%;
    max-width: 100%;
  }
  .hero-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform:none;
    margin-bottom: 48px;
  }
}
.hero__meta {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-text;
 
}

.hero__meta-link {
  transition: all .3s;

  &:hover {
    color: $orange;
    font-weight: 700;
    transition: all .3s;
  }
  &--active {
    color: $orange;
    font-weight: 700;
    transition: all .3s;
  }
}
.hero__meta-divider {
  display: inline-block;
  margin: 0 9px;
  width: 1px;
  height: 12px;
  background-color: $color-text;
}
.hero__meta-time {
  position: relative;
  padding-left: 24px;

  &:before{
    content:'';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    background-image: url('../img/clock.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__meta-coments {
  position: relative;
  padding-left: 24px;

  &:before{
    content:'';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    background-image: url('../img/svg/Chat.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* contacts-hero */
.contacts-hero {
  background-image: url('../img/contacts-hero-bg.png');
  background-position: right bottom ;
  background-size:auto;
  background-repeat: no-repeat;
}

@media(max-width:1000px) {
  .services-hero,
  .design-hero,
  .work-hero,
  .about-hero,
  .contacts-hero {
    background-size: cover;
    background-position: center;
  }
  .positions-hero{
    background-color:$input-bg;
    background-position: center bottom;
  }
}

@media(max-width:768px) {
  .article-hero{
   
    .hero-title{
      font-size: 60px;
      margin-bottom: 48px;
    }
  }
  .services-hero,
  .design-hero,
  .work-hero,
  .about-hero {
    background-position: left;
  }
  
  .hero__inner {
    max-width: 575px;
  }
}
@media(max-width:650px){
  .article-hero{
   
    .hero-title{
      font-size: 50px;
      margin-bottom: 48px;
    }
  }
}
@media(max-width:600px) {
  .article-hero{
   
    .hero-title{
      font-size: 45px;
      margin-bottom: 38px;
    }
  }
  .hero__content {
   flex-direction: column;
    justify-content: space-between;
  }
  .hero__meta {
    margin-bottom: 16px;
  }
}
@media(max-width:550px){
  .article-hero{
   
    .hero-title{
      font-size: 40px;
      margin-bottom: 38px;
    }
    .breadcrumbs{
      display: flex;
      flex-direction: column;
      span {
        display: none;;
      }
    }
  }
}
@media(max-width:500px) {
  .article-hero{
   
    .hero-title{
      font-size: 35px;
      margin-bottom: 38px;
    }
  }
}
@media(max-width:450px) {
  .article-hero{
   
    .hero-title{
      font-size: 30px;
      margin-bottom: 28px;
    }
    .breadcrumbs {
      margin-bottom: 20px;
    }
  }
  .hero {
    padding: 200px 0 60px 0;
  }
  .hero__content {
    padding-left: 20px;
  }
 
  .hero__meta-divider {
    display: none;
   }
   .hero__meta {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.6;
   
  }
  .hero__meta-coments,
  .hero__meta-time {
  
    &:before{
      content:'';
      top: 5px;
    }
  }
}
@media (max-width:400px) {
  .article-hero{
   
    .hero-title{
      font-size: 25px;
      margin-bottom: 28px;
    }
  }
}
