/* home-hero*/
.home-hero {
  width: 100%;
  
}

.home-hero__slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .container {
    position: relative;
  }

  .slider-buttons {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 106px;
    justify-content: space-between;
  }

  .slider-button {
    background-color: rgba($white, 1);
    transition: all .3s;

    &:hover {
      background-color: rgba($orange, 1);
      transition: all .3s;
    }
  }

  .slider-button.swiper-button-disabled {
    background-color: rgba($white, .4);

    &:hover .slider-svg {
      fill: $gray;
      transition: all .3s;
    }
  }

  .home-hero__pagination {
    counter-reset: pagination;
    position: absolute;
    left: 15px;
    bottom: 120px;
    width: 100%;
    max-width: 727px;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    
  }

  .swiper-pagination-bullet {
    position: relative;
    display: block;
    width: 100%;
    max-width: 178px;
    height: 54px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: rgba($white, .6);
    transition: all .3s;

    &:before {
      counter-increment: pagination;
      content: '0'counter(pagination);
      transition: all .3s;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: rgba($white, .6);
      transition: all .3s;
    }
  }

  .swiper-pagination-bullet-active {
    color: rgba($white, 1);
    transition: all .3s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: rgba($white, 1);
      transition: all .3s;
    }
  }
}

.home-hero__slide {
  position: relative;
  width: 100%;
  min-height: 988px;
  background-color: $gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
}
.home-hero-overlay{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color:rgba(107,112,120,.6);
}
.home-hero__inner {
  width: 100%;
  padding-top: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-hero__content {
  width: 100%;
  max-width: 595px;
}

.home-hero__title {
  color: $white;

  & span {
    color: $orange;
  }
}

.home-hero__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 61px;
  transform: translateY(200px);
  opacity: 0;
}
.home-hero-descr--transform {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s;
  transition-delay: .5s;
}
.home-hero__button-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-hero__learn {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 40px;
  border: 1px solid $white;
  border-radius: 4px;
  margin-right: 24px;
  transition: all .3s;

  &:hover {
    background-color: $orange;
    border: 1px solid $orange;
    transition: all .3s;
  }
}

.home-hero__request {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 40px;
  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    transition: all .3s;
  }
}

@media (max-width:768px) {

  .home-hero__slide {
    min-height: 888px;
  }

  .home-hero__descr {
    font-size: 18px;
    margin-bottom: 61px;
  }

  .home-hero__slider {
    .home-hero__pagination {
      max-width: 575px;
    }

    .swiper-pagination-bullet {
      max-width: 140px;
    }
  }

}

@media (max-width:600px) {
  .home-hero__slider {
    .slider-buttons {
      top: 70px;
      right: 70px;
    }

    .home-hero__pagination {
      max-width: 420px;
    }

    .swiper-pagination-bullet {
      max-width: 101px;
    }
  }

  .home-hero__slide {
    min-height: 888px;
  }

  .home-hero__inner {
    padding-top: 200px;
  }

  .home-hero__descr {
    font-size: 17px;
    margin-bottom: 50px;
  }

  .home-hero__button-box {
    flex-direction: column;
  }
  .home-hero__learn {
    margin-right: 0px;
    margin-bottom:24px ;
  }
  .home-hero__slider {
    .slider-buttons {
      top: 70px;
      right: 70px;
    }

    .home-hero__pagination {
      max-width: 420px;
    }

    .swiper-pagination-bullet {
      max-width: 101px;
    }
  }
}

@media (max-width:450px) {
  .home-hero__slider {
    .slider-buttons {
      top: 50px;
      right: 50px;
    }

    .home-hero__pagination {
      max-width: 290px;
    }

    .swiper-pagination-bullet {
      max-width: 68px;
    }
  }

  .home-hero__slide {
    min-height: 760px;
  }

  .home-hero__inner {
    padding-top: 160px;
  }

  .home-hero__descr {
    font-size: 15px;
    margin-bottom: 40px;
  }

}