/* how-we-do */
.how-we-do {
  width: 100%;
  padding: 90px 0 110px 0;
  background-color: $white;

  .section-title {
    text-align: left;
    margin-bottom: 48px;
  }

  .item-title {
    text-align: left;
  }
}

.how-we-do__list {
  counter-reset: item;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
}

.how-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.how-we-do__item {
  position: relative;
  width: 100%;
  max-width: 285px;
  // min-height: 192px;
  height: 203px;
   transition: all .3s;
  transform: translateY(100px);
  opacity: 0;
}

.how-we-do__item-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.how-we-do__counter {
  position: relative;
  width: 84px;
  height: 84px;
  margin-left: -16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: $input-border;
  transition: all .3s;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
    height: 116px;
    border-radius: 50%;
  }
}

.how-we-do__line {
  width: 100%;
  max-width: 209px;
  height: 1px;
  background-image: url('../img/how-we-do-line.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.how-we-do__descr {}

.how-we-do__item--transform {
  transform: translateY(0);
  opacity: 1;
  transition: all .8s;
  .how-we-do__counter {
    background-color: rgba($orange, 0.12);
    color: $orange;
    transition: all .8s;

    &::before {
      background-color: rgba($orange, 0.06);
       transition: all .8s;
    }
  }

  .how-we-do__counter-1 {
    background-color: rgba($orange, 0.12);
    color: $orange;
    transition-delay: 1.6s;

    &::before {
      background-color: rgba($orange, 0.06);
      transition-delay: 1.6s;
    }
  }

  .how-we-do__counter-2 {
    background-color: rgba($orange, 0.12);
    color: $orange;
    transition-delay: 1.2s;

    &::before {
      background-color: rgba($orange, 0.06);
      transition-delay: 1.2s;
    }
  }

  .how-we-do__counter-3 {
    background-color: rgba($orange, 0.12);
    color: $orange;
    transition-delay: 1s;

    &::before {
      background-color: rgba($orange, 0.06);
      transition-delay: 1s;
    }
  }

  .how-we-do__counter-4 {
    background-color: rgba($orange, 0.12);
    color: $orange;
    transition-delay: .8s;

    &::before {
      background-color: rgba($orange, 0.06);
      transition-delay: .8s;
    }
  }
}

.how-we-do__item--transform-1 {
  transition-delay: .2s;
}

.how-we-do__item--transform-2 {
  transition-delay: .4s;
}

.how-we-do__item--transform-3 {
  transition-delay: .6s;
}

.how-we-do__item--transform-4 {
  transition-delay: .8s;
}

@media(max-width:1258px) {
  .how-we-do__item::after {
    display: none;
  }

  .how-we-do__item:nth-child(4) {
    margin-top: 30px;
  }
}

@media(max-width:972px) {
  .how-we-do {
    padding: 70px 0 120px 0;


    .section-title {
      text-align: center;
      margin-bottom: 60px;
    }

  }

  .how-we-do__list {
    justify-content: center;
  }

  .how-we-do__item:nth-child(1) {
    margin-left: 30px;
  }

  .how-we-do__item:nth-child(3) {
    margin-top: 30px;
  }

}

@media(max-width:768px) {
  .how-we-do {
    padding: 50px 0 50px 0;
  }

  .how-we-do__list {
    flex-direction: column;
    align-items: center;
  }

  .how-we-do__line {
    display: none;
  }

  .how-we-do__item:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }

  .how-we-do__item:nth-child(2) {
    margin-right: 0;
    margin-top: 30px;
  }

  .how-we-do__item:nth-child(3) {
    margin-right: 0;
  }

  .how-we-do__item:nth-child(4) {
    margin-left: 0;
  }
}

@media(max-width:450px) {

  .how-we-do__item {
    padding-left: 35px;
  }
}