/* news*/
.news {
  width: 100%;
  padding: 87px 0 120px 0;
  background-color: $white;

  .section-title {
    margin-bottom: 60px;
  }
}

.news__articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.news__article {

  .item-title {
    text-align: left;
  }
}

.news__big-article {
  width: 100%;
  max-width: 705px;
  flex-shrink: 1;
  .news__img-box {
    width: 100%;
    max-width: 705px;
    height: auto;
  }

  .news__content-box {
    padding: 24px 24px 24px 24px;
  }

  .item-title {
    margin-bottom: 12px;
  }

  .news__meta {
    margin-bottom: 16px;
  }
}
.news__small-article-box{
  width: 100%;
  max-width: 495px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
.news__small-article {
    width: 100%;
  .news__img-box {
    width: 100%;
    height: auto;
  }

  .news__content-box {
    padding: 16px 10px 24px 24px;
  }

  .item-title {
    margin-bottom: 8px;
  }

  .news__text-box {
    display: none;
  }
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__title-link {
  transition: all .3s;

  &:hover {
    color: $orange;
    transition: all .3s;
  }
}

.news__meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text;
  margin-bottom: 0px;
}

.news__meta-link {
  transition: all .3s;

  &:hover {
    color: $orange;
    transition: all .3s;
  }
}

.news__meta-coments {
  position: relative;
  padding-left: 24px;

  &:before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url('../img/svg/Chat.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.news__meta-divider {
  display: inline-block;
  margin: 0 11px;
  width: 1px;
  height: 12px;
  background-color: $color-text;
}

/*news media*/
@media(max-width:1200px){
  
  .news__small-article-box {
    max-width: 420px;
  }
}
@media(max-width:1100px){
  .news {
    padding: 40px 0 60px 0;
  }
  .news__articles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .news__small-article-box{
    max-width: 705px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;

  }
  .news__small-article{
    .news__text-box {
      display: block;
    }
    .news__meta {
      margin-bottom: 16px;
    }
  }
}
@media(max-width:450px){
 
  .news__meta-divider {
  display: none;
  }
  .news__meta {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
  }
  .news__meta-coments {
  
    &:before{
      content:'';
      top: 3px;
    }
  }
}
