.offices {
  width: 100%;
  padding: 80px 0 60px 0;
  background-color: $input-bg;

}

.offices__list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.offices__list-item {

  .item-title {
    margin-bottom: 24px;
    text-align: left;
  }
}

.offices__info {
  width: 250px;
  font-style: normal;
}

.offices__address-item-address {
  color: $title-color;
  margin-bottom: 4px;
}

.offices__address {}

.offices__address-item-map {
  margin-bottom: 20px;
}

.offices__link-map {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $orange;
  transition: all .3s;

  &:hover {
    text-decoration: underline;
  }
}

.offices__address-item-tel {
  margin-bottom: 4px;
}

.offices__tel {}

.offices__link-tel {
  color: $title-color;
}

.offices__address-item-mail {
  margin-bottom: 4px;
}

.offices__email {}

.offices__link-mail {
  color: $title-color;
}

.offices__address-item-schedule {}

.offices__schedule {}

.offices__schedule-info {
  color: $title-color;
}

.divider {}

.divider__svg {}

@media (max-width:900px) {
  .offices{
    .section-descr{
      margin-bottom: 20px;
    }
  }
  .offices__list {
    flex-wrap: wrap;

    .offices__list-item:nth-child(2),
    .offices__list-item:nth-child(4) {
      display: none;
    }
  }

  .offices__list-item {
    padding-top: 20px;
    .item-title {
      margin-bottom: 5px;
    }
  }

  .offices__info {
    width: 358px;
  }
}

@media (max-width:767px) {
 .offices {
    padding: 40px 0 30px 0;
  }
}
@media (max-width:745px){
.offices__list {
    justify-content: center;
  }
}
@media (max-width:450px) {
  .offices__info {
    width: 250px;
  }
}