/* projects*/
.projects {
  padding: 120px 0;
  background-color: $white;

  .section-title {
    max-width: 710px;
    text-align: left;
    margin-bottom: 10px;
  }

  .item-title {
    margin-bottom: 4px;
  }

  .slider-buttons {
    margin-right: -15px;
  }

  .swiper {
    margin-right: auto !important;
  }
}


.projects.related-projects {
  padding: 180px 0 100px 0;

}

.projects.similar-projects {
  padding: 180px 0 120px 0;
}

.projects-slider {
  width: 100%;
}

.projects__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}


/* projects media*/
@media(max-width:1300px) {
  .projects {
    .slider-buttons {
      margin-right: 0;
    }
  }
}

@media(max-width:1200px) {

  .projects-slider,
  .related-projects-slider,
  .similar-projects-slider {
    max-width: 810px;
  }
}

@media(max-width:850px) {
  .projects {
    padding: 120px 0;

    .section-title {
      margin: 0 auto 10px;
      max-width: 90%;
    }
  }

  .projects-slider,
  .related-projects-slider,
  .similar-projects-slider {
    max-width: 390px;
  }

  .projects__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }

}

@media(max-width:768px) {
  .projects {
    padding: 60px 0;
  }
}

@media(max-width:600px) {
  .projects.similar-projects {
    padding: 90px 0 60px 0;
  }

}

@media(max-width:450px) {

  .projects-slider,
  .related-projects-slider,
  .similar-projects-slider {
    max-width: 290px;
  }

}