
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social__link {
  display: inline-block;
  width: 24px;
  height: 24px;
 &:hover .social__svg{
  fill:$orange;
  transition: all .3s;
 }
}
.social__link + .social__link {
  margin-left: 12px;
}
.social__svg {
  width: 24px;
  height: 24px;
  fill:$color-text;
}
.social__share{
  margin-right: 12px;
  font-weight: 700;
  color: $title-color;
}
@media (max-width:450px) {
  .social__svg {
    width: 22px;
    height: 22px;
  }
}