/* testimonials*/
.testimonials {
  width: 100%;
  padding: 85px 0 0 0;
  background-color: $input-bg;

  .section-title {
    margin-bottom: 60px;
   
  }
}
.slider-buttons{
  margin-right: -17px;
}
.testimonials__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.testimonials__content {
  width: 100%;
  max-width: 600px;
}


.testimonials__content-item {
  width: 100%;
}
.testimonials__content-avatar-box {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
.testimonials__content-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial__content-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color:$gray;
  margin-bottom: 24px;
}
.testimonials__content-name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color:$title-color;
  margin-bottom: 4px;
}
.testimonials__content-company {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color:$color-text;
}
.testimonials__buttons {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -37px;
}

.testimonials__img-block {
  position: relative;
  width: 100%;
  max-width: 495px;
  height: auto;
  margin-left: 50px;
  margin-bottom: -23px;
  z-index: 2;
  background-color: rgb(165, 123, 123);
 
}
.testimonials__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* testimonials media */
@media(max-width:1200px){
  .testimonials {

    .section-title{
      text-align: left;
    }
  }
  .testimonials__inner{
    justify-content: center;
  }
  .testimonials__content {
    max-width: 500px;
  }
  
}
@media(max-width:1000px){
  .testimonials {
     padding: 95px 0 50px 0;

     .slider-buttons{
      margin-right: 0;
    }
  }
  .testimonials__content {
    max-width: 400px;
  }
}
@media(max-width:900px){
  .testimonials {
    padding: 50px 0 50px 0;
  }

  .testimonials__img-block{
  display: none;
  }
  .testimonials-slider{
  max-width: 700px;
  }
  .testimonials__content {
    max-width: 700px;
  }
}
@media(max-width:600px){
  .testimonial__content-descr {
    font-size: 15px;
  }
}
@media(max-width:450px){
  .testimonial__content-descr {
    font-size: 14px;
    margin-bottom: 14px;
  }
}