// vars
$white:#fff;
$gray: #424551;
$orange:#ff5a30;
$orange-opacity:rgba(255, 90, 48, 0.4);
$title-color: #1e212c;
$color-text:#787A80;
$placeholder: #9A9CA5;
$input-bg:#F4F5F7;
$input-border:#D7DADD;
$checkbox-border:#b3b7bc;

