.worldwide {
  width: 100%;
  padding: 80px 0 120px 0;
  background-color: $input-bg;

  .section-title {
    margin-bottom: 60px;
  }
}

.worldwide__map {
  width: 100%;
  max-height: 563px;
}

.worldwide__map-svg {
  width: 100%;
  height: 100%;
  max-height: 563px;
  object-fit: cover;
}


.flag{
 animation: move-flag linear 2s infinite forwards;
 
}
@keyframes move-flag {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.fill-bg {
  fill: $orange;
  transition: all .3s;
}

@media(max-width:768px) {
  .worldwide {
    padding: 40px 0 60px 0;

    .section-title {
      margin-bottom: 24px;
    }
  }
}